body {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar {
    background-color: lightgray;
    padding: 1rem 1rem 1rem 1rem;
}

h1 > a {
    text-decoration: none;
    color: black;
}

form {
    padding-top: 1em;
}